
/*mobilni verze*/
.cestovka__sluzby {
    display: flex;
    background-color:#eeecec;
    margin-top: 0.5rem;
    padding: 1.5rem;
}

.cestovka__sluzby--popis {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    font-size: 0.9rem;
}

.cestovka h4 {
    margin: 0;
    color: var(--hlavni-barva);
    font-weight: 600;
    font-size: 1.1rem;
}

.cestovka__sluzby p {
    margin-bottom: 0;
}

.cestovka__sluzby--popis1 {
    margin-left: 2rem;
}
/*mobilni verze*/

/*tablet verze*/
@media screen and (min-width: 520px) {
    .cestovka {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px;
        gap: 1.3rem;
    }

    .cestovka__sluzby {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .cestovka h4 {
        margin: auto;
    }

    .cestovka__sluzby--popis {
        margin-left: 0;
    }
}
/*tablet verze*/

/*pc verze*/
@media screen and (min-width: 980px) {
    .cestovka {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    }
    
    .cestovka__sluzby img {
        margin-bottom: 0.8rem;
    }
}
/*pc verze*/
