/*mobilni verze*/
.last-minute__1 {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(podklady/lodicka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 220px;
    width: auto;
}

.last-minute__2 {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(podklady/podkova.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150px;
    width: auto;
}

.last-minute__3 {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(podklady/zatoka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150px;
    width: auto;
}

.last-minute__1,
.last-minute__2,
.last-minute__3 {
    position: relative;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.last-minute h1 {
    position: absolute;
    top: 3rem;
    left: 1rem;
    width: 350px;
}

.last-minute__popis {
    position: absolute;
    bottom: 0.5rem;
    left:1rem;
    color: rgba(255, 255, 255, 0.787);
    font-size: 0.9rem;
}

h3 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
/*mobilni verze*/

/*tablet verze*/
@media screen and (min-width: 520px) {
    .last-minute__nabidka {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 370px 170px;
        gap: 1.3rem;
    }

    .last-minute__1 {
        grid-column: 1/-1;
    }

    .last-minute__1,
    .last-minute__2,
    .last-minute__3 {
        margin: 0;
        width: 100%;
    }

    .last-minute__popis {
        color: rgb(255, 255, 255);
        font-size: 1rem;
    }

    .last-minute h1 {
        position: absolute;
        top: 15.5rem;
        left: 1rem;
        width: 450px;
    }
}
/*tablet verze*/

/*pc verze*/
@media screen and (min-width: 980px) {
    .last-minute__1 {
        grid-row: 1/-1;
        grid-column: 2;
    }

    .last-minute__2 {
        grid-column: 1;
        grid-row:1;
    }

    .last-minute__3 {
        grid-column: 1;
        grid-row: 2;
    }

    .last-minute__nabidka {
        grid-template-columns: 1fr 670px;
        grid-template-rows: 180px 180px;
    }
}
/*pc verze*/