/*mobilni verze*/
.last-minute__1 {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(podklady/lodicka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 220px;
    width: auto;
}

.last-minute__2 {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(podklady/podkova.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150px;
    width: auto;
}

.last-minute__3 {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(podklady/zatoka.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150px;
    width: auto;
}

.last-minute__1,
.last-minute__2,
.last-minute__3 {
    position: relative;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.last-minute h1 {
    position: absolute;
    top: 3rem;
    left: 1rem;
    width: 350px;
}

.last-minute__popis {
    position: absolute;
    bottom: 0.5rem;
    left:1rem;
}

.cena {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
}

h3 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}
/*mobilni verze*/
