
/*mobilni verze*/
.novinky__odstavec {
    background-color:#eeecec;
    margin-top: 1rem;
    padding: 1.5rem;
    font-size: 0.8rem;
}

.novinky h4 {
    margin-top: 0.5rem;
    color: var(--hlavni-barva);
    font-weight: 600;
    font-size: 0.8rem;
}

.novinky p {
    margin-bottom: 0;
    font-weight: 500;
}

.datum {
    color:#a9a9a9;
    margin-top: 0;
}

.novinky__odstavec p {
    margin-bottom: 0;
}
/*mobilni verze*/

/*tablet verze*/
@media screen and (min-width: 520px) {
 .datum, 
 .novinky h4, 
 .novinky__odstavec {
     font-size: 0.9rem;
 }
}
/*tablet verze*/

/*pc verze*/
@media screen and (min-width: 980px) {
    .novinky__seznam {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1;
        gap: 1.3rem;
    }
}
/*pc verze*/