
*, ::after,::before {
    box-sizing: border-box;
}

:root {
    --hlavni-barva: #F03000;
}

body {
    font-family: Montserrat, sans-serif;
}

h1,
h3 {
    color: rgba(255, 255, 255, 0.822);
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.3rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.1rem;
}

.cena {
    font-size: 1rem;
    color: #FFF;
    padding: 0.5rem;
    background-color: var(--hlavni-barva);
    width: 95px;
}

.paticka {
    text-align: center;
    color: rgba(255, 255, 255, 0.76);
    background-color: #3b3838;
    font-size: 0.8rem;
    padding: 1rem;
    margin-top: 2rem;
}