/*mobilni verze*/
.zajezdy__1 {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(podklady/palmy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 220px;
    width: auto;
}

.zajezdy__2 {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(podklady/jezero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150px;
    width: auto;
}

.zajezdy__3 {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(podklady/nakole.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150px;
    width: auto;
}

.zajezdy__1,
.zajezdy__2,
.zajezdy__3 {
    position: relative;
    margin: 1.2rem 0;
}

.zajezdy__1 h1 {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}

.zajezdy__popis {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
}

h3 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.zajezdy {
    margin-bottom: 2.5rem;
}

.zajezdy__popis {
    color: rgba(255, 255, 255, 0.787);
    font-size: 0.9rem;
}
/*mobilni verze*/

/*tablet verze*/
@media screen and (min-width: 520px) {
    .zajezdy {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,185px);
        gap: 1.3rem;
    }

    .zajezdy__1 {
        grid-column: 1/-1;
        grid-row: 1/-2;
    }

    .zajezdy__1,
    .zajezdy__2,
    .zajezdy__3 {
        margin: 0;
        width: 100%;
    }

    .zajezdy__popis {
        color: rgb(255, 255, 255);
        font-size: 1rem;
    }
}
/*tablet verze*/

/*pc verze*/
@media screen and (min-width: 980px) {
    .zajezdy {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 185px);
    }
    .zajezdy__1 {
        grid-row: 1/-1;
        grid-column: 1/-2;
    }

    .zajezdy__2 {
        grid-column: 3;
        grid-row:1;
    }

    .zajezdy__3 {
        grid-column: 3;
        grid-row: 2;
    }
}
/*pc verze*/
